#accountInfo{
    width: 400px;
    color:red;
}
#formbtns{
    text-align: center;
    padding:20px;
    margin:20px;
}
h1{
    text-align: center;
    color: forestgreen;
    text-shadow:3px black;
    padding: 20px;
}
.AAcount{
    padding:20px;
    margin:20px;
    border-left: none;
}